@charset "UTF-8";
@import url(reset.css);
@font-face {
  font-family: "NanumSquareR";
  src: url("../fonts/NanumSquareR.otf");
}

@font-face {
  font-family: "NanumSquareB";
  src: url("../fonts/NanumSquareB.otf");
}

@font-face {
  font-family: "NanumSquareEB";
  src: url("../fonts/NanumSquareEB.otf");
}

.wrap .page04 .case_line .line_tooltip, .wrap .page05 .world_vaccine .worldmap_tooltip, .wrap .page05 .korea_vaccine .korV_tooltip, .wrap .page06 .korea_case .kormap_tooltip {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: white;
  color: black;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

.wrap {
  background-color: black;
  color: white;
  font-family: "NanumSquareR";
}

.wrap .page01 {
  height: auto;
}

.wrap .page01 .inner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.wrap .page01 .inner .img {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.wrap .page01 .inner .img img {
  width: 100%;
}

.wrap .page01 .inner .title {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  font-size: 4.8vw;
  font-family: "NanumSquareEB";
  text-align: right;
  line-height: 7vw;
}

.wrap .page01 .inner .title h1 {
  width: 100%;
}

.wrap .page01 .inner .mouse {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 50px;
  border: 3px solid white;
  border-radius: 60px;
}

.wrap .page01 .inner .mouse .wheel {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: white;
  margin-top: 10px;
}

.wrap .page01 .page_loader {
  width: 100%;
  height: 100vh;
}

.wrap .page02 {
  width: 100%;
  height: auto;
}

.wrap .page02 .title {
  text-align: center;
  font-size: 4.8vw;
  font-weight: 800;
  padding: 20vw 0;
  opacity: 1;
}

.wrap .page02 .content_container {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 10vw;
}

.wrap .page02 .content_container .background_image {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrap .page02 .content_container .background_image img {
  width: 100%;
}

.wrap .page02 .content_container .background_image .place-dot {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.wrap .page02 .content_container .background_image .place-dot.wuhan {
  right: 25vw;
  top: 21vw;
}

.wrap .page02 .content_container .background_image .place-dot.airport {
  right: 14vw;
  top: 13vw;
  opacity: 0;
}

.wrap .page02 .content_container .background_image .place-dot.hospital {
  right: 14vw;
  top: 13vw;
  opacity: 0;
}

.wrap .page02 .content_container .background_image .place-dot.hospital .dot {
  background-color: brown;
}

.wrap .page02 .content_container .background_image .place-dot p {
  color: white;
  font-weight: bold;
  font-size: 2vw;
  padding: 1vw 1.5vw;
  margin-bottom: 1vw;
  background-color: black;
}

.wrap .page02 .content_container .background_image .place-dot .dot {
  width: 5vw;
  height: 5vw;
  background-color: #00a56e;
  border-radius: 50%;
}

.wrap .page02 .content_container .background_image .airplane {
  position: absolute;
  right: 25vw;
  top: 19vw;
  width: 15vw;
  opacity: 0;
}

.wrap .page02 .content_container .background_image .airplane img {
  width: 100%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.wrap .page02 .content_container .background_image .confirmed {
  position: absolute;
  right: 24vw;
  top: 23vw;
  padding: 2vw;
  -webkit-transform: rotate(-13deg);
          transform: rotate(-13deg);
  background-color: white;
  opacity: 0;
}

.wrap .page02 .content_container .background_image .confirmed h1 {
  color: black;
  font-size: 8vw;
  font-family: "NanumSquareEB";
}

.wrap .page02 .article {
  position: relative;
  width: 100%;
  height: 100vh;
}

.wrap .page02 .article .text {
  position: absolute;
  top: 5vw;
  left: 6vw;
  padding: 3vw;
  font-size: 1.3vw;
  line-height: 2vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.493);
}

.wrap .page02 .article06 {
  background-color: black;
}

.wrap .page03 {
  width: 50%;
  margin: 20vw auto;
  font-size: 1.3vw;
  line-height: 2vw;
}

.wrap .page03 .video {
  width: 100%;
  padding: 4vw 0;
}

.wrap .page03 .video video {
  width: 100%;
}

.wrap .page03 .article_text:last-child p {
  padding-bottom: 1vw;
}

.wrap .page04 {
  width: 70%;
  height: auto;
  margin: 20vw auto;
}

.wrap .page04 .title {
  width: 100%;
  text-align: center;
  font-size: 3vw;
  font-weight: 800;
  padding-bottom: 15vw;
}

.wrap .page04 .title h1:first-child {
  padding-bottom: 6vw;
}

.wrap .page04 .case_bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .page04 .case_bar .counter_container {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  background-color: rgba(255, 96, 96, 0.884);
  text-align: center;
  padding: 20px;
  display: none;
  z-index: 2;
}

.wrap .page04 .case_bar .counter_container li {
  display: inline-block;
}

.wrap .page04 .case_bar .counter_container li:first-child {
  margin-bottom: 20px;
}

.wrap .page04 .case_bar .counter_container li h2 {
  display: inline-block;
}

.wrap .page04 .case_bar .run_Btn #jsBtn {
  all: unset;
  color: black;
  font-size: 2vw;
  background-color: white;
  padding: 2vw 5vw;
  margin: 5vw 0;
  cursor: pointer;
}

.wrap .page04 .case_bar .chart_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrap .page04 .case_bar .chart_container p:after {
  content: "";
  display: inline-block;
  width: 60vw;
  border-bottom: 3px solid white;
  margin-bottom: 5px;
  margin-left: 10px;
}

.wrap .page04 .case_bar .chart_container p:nth-child(1) {
  margin-bottom: 50px;
}

.wrap .page04 .case_bar .chart_container p:nth-child(2) {
  margin-bottom: 120px;
}

.wrap .page04 .case_bar .chart_container p:nth-child(4) {
  margin-bottom: 70px;
}

.wrap .page04 .case_bar .chart_container p:nth-child(3), .wrap .page04 .case_bar .chart_container p:nth-child(5) {
  margin-bottom: 200px;
}

.wrap .page04 .case_bar .chart_container p:nth-child(7) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 50px;
  text-align: center;
  font-size: 19px;
  line-height: 30px;
  opacity: 0;
}

.wrap .page04 .case_bar .chart_container p:nth-child(7):after {
  content: none;
}

.wrap .page04 .case_bar .bar {
  position: absolute;
  top: 8px;
  left: 38.5%;
  width: 15vw;
  height: 0;
  background-color: darkorange;
}

.wrap .page04 .case_line {
  width: 100%;
  height: 100vh;
  margin-top: 10vw;
}

.wrap .page04 .case_line path {
  stroke: #1897ff;
  stroke-width: 2;
  fill: none;
}

.wrap .page04 .case_line .axis path,
.wrap .page04 .case_line .axis line {
  fill: none;
  stroke: white;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.wrap .page04 .case_line .axis text {
  fill: white;
  font-size: 1.5vw;
}

.wrap .page04 .case_line .line_dsc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2vw;
}

.wrap .page04 .case_line .line_dsc p:first-child {
  font-weight: 800;
  font-size: 2vw;
}

.wrap .page04 .case_line .line_dsc p:last-child:before {
  content: "";
  display: inline-block;
  width: 5vw;
  border-bottom: 5px solid #47a564;
  margin-bottom: 5px;
  margin-right: 5px;
}

.wrap .page04 .case_line .line_duration {
  padding-top: 1vw;
  font-size: 0.9vw;
  line-height: 1.5vw;
}

.wrap .page04 .case_line .line_tooltip {
  width: 100px;
  height: 60px;
  padding: 10px;
  font-size: 16px;
}

.wrap .page04 .case_line .line_tooltip p:first-child {
  font-weight: 800;
  padding-bottom: 10px;
}

.wrap .page04 .case_line circle {
  fill: #47a564;
  cursor: pointer;
}

.wrap .page05 {
  height: auto;
  margin: 20vw 0;
}

.wrap .page05 .title {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 3vw;
  font-weight: 800;
  padding-bottom: 20vw;
}

.wrap .page05 .title h1:first-child {
  padding-bottom: 2vw;
}

.wrap .page05 .world_vaccine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding-bottom: 20vw;
}

.wrap .page05 .world_vaccine .worldmap_dsc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  font-size: 2vw;
}

.wrap .page05 .world_vaccine .worldmap_dsc p:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 3vw;
  font-size: 1.5vw;
}

.wrap .page05 .world_vaccine .worldmap_duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  font-size: 1.3vw;
}

.wrap .page05 .world_vaccine .country {
  stroke-width: 1;
  stroke: white;
  fill: #c4c4c4;
}

.wrap .page05 .world_vaccine circle {
  cursor: pointer;
}

.wrap .page05 .world_vaccine .worldmap_tooltip {
  width: 100px;
  height: 100px;
  padding: 2px;
  font-size: 16px;
  word-break: keep-all;
}

.wrap .page05 .world_vaccine .worldmap_tooltip p:last-child {
  font-weight: bold;
  padding-top: 1vw;
}

.wrap .page05 .korea_vaccine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

.wrap .page05 .korea_vaccine svg rect {
  fill: #47a564;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrap .page05 .korea_vaccine svg rect:hover {
  fill: cornflowerblue;
  cursor: pointer;
}

.wrap .page05 .korea_vaccine svg text {
  fill: white;
  font-size: 1.3vw;
  text-anchor: end;
}

.wrap .page05 .korea_vaccine path.domain {
  stroke: white;
}

.wrap .page05 .korea_vaccine .korV_dsc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2vw;
  font-size: 2vw;
}

.wrap .page05 .korea_vaccine .korV_dsc p:first-child:after {
  content: " (2021년 8월 2일 0시 기준)";
  font-size: 1vw;
}

.wrap .page05 .korea_vaccine .korV_dsc p:last-child {
  font-size: 1vw;
}

.wrap .page05 .korea_vaccine .korV_dsc p:last-child:before {
  content: "";
  display: inline-block;
  width: 5vw;
  border-bottom: 5px solid #47a564;
  margin-bottom: 5px;
  margin-right: 5px;
}

.wrap .page05 .korea_vaccine .korV_src {
  font-size: 1.5vw;
  -webkit-transform: translate(7vw, -5vw);
          transform: translate(7vw, -5vw);
}

.wrap .page05 .korea_vaccine .korV_tooltip {
  width: 13vw;
  height: 4vw;
  padding: 0.5vw;
  font-size: 1vw;
}

.wrap .page05 .korea_vaccine .korV_tooltip p strong {
  font-family: "NanumSquareEB";
}

.wrap .page05 .korea_vaccine .korV_tooltip p:first-child {
  padding-bottom: 0.5vw;
}

.wrap .page06 {
  width: 70%;
  height: auto;
  margin: 20vw auto;
}

.wrap .page06 .title {
  width: 100%;
  text-align: center;
  font-size: 3vw;
  font-weight: 800;
  padding-bottom: 20vw;
}

.wrap .page06 .title h1:first-child {
  padding-bottom: 2vw;
}

.wrap .page06 .korea_case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .page06 .korea_case path {
  fill: #9b9b9b;
  stroke: black;
  cursor: pointer;
}

.wrap .page06 .korea_case path.c0 {
  fill: #e0f2f1;
}

.wrap .page06 .korea_case path.c1 {
  fill: #b2dfdb;
}

.wrap .page06 .korea_case path.c2 {
  fill: #80cbc4;
}

.wrap .page06 .korea_case path.c3 {
  fill: #4db6ac;
}

.wrap .page06 .korea_case path.c4 {
  fill: #26a69a;
}

.wrap .page06 .korea_case path.c5 {
  fill: #009688;
}

.wrap .page06 .korea_case path.c6 {
  fill: #00897b;
}

.wrap .page06 .korea_case path.c7 {
  fill: #00796b;
}

.wrap .page06 .korea_case path.c8 {
  fill: #00695c;
}

.wrap .page06 .korea_case path:hover {
  fill: gold;
}

.wrap .page06 .korea_case .city-label {
  font-weight: bold;
  cursor: pointer;
}

.wrap .page06 .korea_case .kormap_dsc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding-bottom: 5vw;
}

.wrap .page06 .korea_case .kormap_dsc p:first-child {
  font-size: 2vw;
  font-weight: 800;
}

.wrap .page06 .korea_case .kormap_dsc p:first-child:after {
  content: " (21.08.03 0시 기준)";
  font-size: 1vw;
}

.wrap .page06 .korea_case .kormap_dsc p:last-child {
  font-size: 1.3vw;
}

.wrap .page06 .korea_case .kormap_tooltip {
  width: 100px;
  height: 100px;
  padding: 2px;
  font-size: 16px;
  line-height: 25px;
}

.wrap .page06 .korea_case .kormap_tooltip p:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
}

.wrap .page06 .korea_case .kormap_tooltip p:last-child {
  color: red;
  font-weight: bold;
}

.wrap .page07 {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20vw 0;
  overflow: hidden;
}

.wrap .page07 .bg {
  position: absolute;
  top: 0;
  width: 100%;
}

.wrap .page07 .bg img {
  width: 100%;
}

.wrap .page07 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  font-size: 3vw;
  font-weight: 800;
}

.wrap .page07 .title div {
  margin-bottom: 8vw;
}

.wrap .page07 .title .mask {
  width: 20%;
}

.wrap .page07 .title .mask img {
  width: 100%;
}

.wrap .page07 .title .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
}

.wrap .page07 .title .people img {
  width: 100%;
}

@media all and (max-width: 1024px) {
  .wrap .page02 .article .text {
    font-size: 2vw;
    line-height: 3vw;
  }
  .wrap .page03 {
    width: 60%;
    font-size: 2vw;
    line-height: 3vw;
  }
  .wrap .page04 .title {
    font-size: 4vw;
  }
  .wrap .page04 .case_bar {
    margin-bottom: 20vw;
  }
  .wrap .page04 .case_line svg g {
    -webkit-transform: translate(80, 30);
            transform: translate(80, 30);
  }
  .wrap .page04 .case_line .line_duration {
    padding-top: 1.5vw;
    font-size: 1.3vw;
  }
  .wrap .page04 .case_line .axis text {
    font-size: 2.5vw;
  }
  .wrap .page04 .case_line .line_tooltip {
    width: 18vw;
    height: 5vw;
    padding: 1vw 0.5vw;
    font-size: 1.5vw;
  }
  .wrap .page05 .korea_vaccine svg text {
    font-size: 2vw;
  }
  .wrap .page05 .korea_vaccine .korV_tooltip {
    font-size: 1.5vw;
    width: 17vw;
    padding: 1vw;
  }
  .wrap .page06 .korea_case .kormap_tooltip {
    width: 10vw;
    height: 10vw;
    padding: 1vw;
    font-size: 1.5vw;
    line-height: 2.5vw;
  }
  .wrap .page06 .korea_case .kormap_tooltip p:nth-child(2) {
    font-size: 2vw;
  }
  .wrap .page07 .title div:last-child {
    padding-bottom: 20vw;
  }
}

@media all and (max-width: 767px) {
  .wrap .page01 {
    height: 100vh;
  }
  .wrap .page01 .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
  }
  .wrap .page01 .inner .img {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    width: 80%;
  }
  .wrap .page01 .inner .img img {
    width: 100%;
  }
  .wrap .page01 .inner .title {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    font-size: 6vw;
    text-align: center;
    line-height: 17vw;
  }
  .wrap .page01 .inner .title h1 {
    width: 100%;
  }
  .wrap .page01 .inner .mouse {
    display: none;
  }
  .wrap .page01 .page_loader {
    display: none;
  }
  .wrap .page02 .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 85vw;
  }
  .wrap .page02 .article .text {
    font-size: 2.5vw;
    line-height: 4vw;
    width: 35vw;
    word-break: keep-all;
  }
  .wrap .page03 {
    width: 65%;
    font-size: 2.5vw;
    line-height: 4vw;
  }
  .wrap .page04 .case_line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap .page04 .case_line .axis text {
    font-size: 5vw;
  }
  .wrap .page04 .case_line .line_tooltip {
    font-size: 2vw;
    height: 7vw;
  }
  .wrap .page04 .case_line .line_duration {
    font-size: 2vw;
    line-height: 3.5vw;
  }
  .wrap .page04 .case_bar .chart_container p:after {
    width: 55vw;
  }
  .wrap .page05 .korea_vaccine svg text {
    font-size: 3.5vw;
  }
  .wrap .page05 .korea_vaccine .korV_tooltip {
    font-size: 2vw;
    line-height: 3vw;
    height: 10vw;
  }
  .wrap .page06 .korea_case .kormap_dsc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrap .page06 .korea_case .kormap_dsc p:first-child {
    font-size: 3vw;
    padding-bottom: 3vw;
  }
  .wrap .page06 .korea_case .kormap_dsc p:first-child:after {
    font-size: 1.5vw;
  }
  .wrap .page06 .korea_case .kormap_dsc p:last-child {
    font-size: 2vw;
  }
  .wrap .page07 .bg {
    top: 10vw;
  }
  .wrap .page07 .title {
    padding-bottom: 20vw;
  }
}

@media all and (max-width: 480px) {
  .wrap .page01 .inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap .page01 .inner .img {
    width: 100%;
    padding-bottom: 10vw;
  }
  .wrap .page01 .inner .title {
    font-size: 11vw;
    line-height: 17vw;
    width: 95%;
    word-break: keep-all;
  }
  .wrap .page01 .inner .title h1 {
    width: 100%;
  }
  .wrap .page01 .page_loader {
    display: none;
  }
  .wrap .page02 .title {
    font-size: 7vw;
  }
  .wrap .page02 .article .text {
    font-size: 4.5vw;
    line-height: 7vw;
    width: 80%;
    word-break: keep-all;
  }
  .wrap .page02 .content_container {
    margin-top: 50vw;
  }
  .wrap .page03 {
    width: 80%;
    font-size: 16px;
    line-height: 25px;
  }
  .wrap .page03 .video {
    padding: 50px 0;
  }
  .wrap .page04 {
    width: 80%;
    margin: 30vw auto;
  }
  .wrap .page04 .title {
    font-size: 7vw;
    word-break: keep-all;
    padding: 40vw 0;
  }
  .wrap .page04 .title h1:last-child {
    width: 75%;
    margin: 0 auto;
    line-height: 12vw;
  }
  .wrap .page04 .case_bar .run_Btn #jsBtn {
    font-size: 4vw;
    padding: 15px;
    margin: 40px;
  }
  .wrap .page04 .case_bar .chart_container p {
    font-size: 12px;
  }
  .wrap .page04 .case_bar .chart_container p:after {
    width: 50vw;
  }
  .wrap .page04 .case_bar .counter_container {
    width: 60px;
    height: 60px;
    font-size: 13px;
    padding: 15px;
    top: 15px;
  }
  .wrap .page04 .case_line {
    margin: 40vw 0;
    height: auto;
  }
  .wrap .page04 .case_line .axis text {
    font-size: 8.5vw;
  }
  .wrap .page04 .case_line .line_dsc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrap .page04 .case_line .line_dsc p:first-child {
    font-size: 5vw;
  }
  .wrap .page04 .case_line .line_dsc p:last-child {
    font-size: 3vw;
    margin-top: 6vw;
  }
  .wrap .page04 .case_line .line_dsc p:before {
    width: 5vw;
    border-bottom: 3px solid #47a564;
    margin-bottom: 3px;
  }
  .wrap .page04 .case_line .line_tooltip {
    width: 22vw;
    height: 12vw;
    font-size: 3.5vw;
  }
  .wrap .page04 .case_line .line_tooltip p:first-child {
    padding: 5px;
  }
  .wrap .page04 .case_line .line_duration {
    font-size: 2.5vw;
    line-height: 3.5vw;
  }
  .wrap .page05 {
    padding: 35vw 0;
  }
  .wrap .page05 .title {
    width: 80%;
    font-size: 6vw;
    line-height: 10vw;
  }
  .wrap .page05 .title h1:first-child {
    padding-bottom: 5vw;
  }
  .wrap .page05 .korea_vaccine svg text {
    font-size: 6.8vw;
  }
  .wrap .page05 .korea_vaccine .korV_dsc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
    font-size: 4vw;
    padding-bottom: 5vw;
  }
  .wrap .page05 .korea_vaccine .korV_dsc p:first-child {
    padding-bottom: 5vw;
  }
  .wrap .page05 .korea_vaccine .korV_dsc p:first-child:after {
    display: block;
    font-size: 2vw;
  }
  .wrap .page05 .korea_vaccine .korV_dsc p:last-child {
    font-size: 2vw;
  }
  .wrap .page05 .korea_vaccine .korV_dsc p:last-child:before {
    margin-bottom: 1px;
  }
  .wrap .page05 .korea_vaccine .korV_src {
    font-size: 2vw;
  }
  .wrap .page05 .korea_vaccine .korV_tooltip {
    font-size: 3.5vw;
    width: 30vw;
    height: 12vw;
    line-height: 4vw;
  }
  .wrap .page05 .korea_vaccine .korV_tooltip p:first-child {
    padding-bottom: 1vw;
  }
  .wrap .page05 .world_vaccine .worldmap_dsc {
    font-size: 4.5vw;
  }
  .wrap .page05 .world_vaccine .worldmap_dsc p:last-child {
    font-size: 3vw;
  }
  .wrap .page05 .world_vaccine .worldmap_duration {
    font-size: 3vw;
  }
  .wrap .page05 .world_vaccine .worldmap_tooltip {
    width: 15vw;
    height: 15vw;
    font-size: 3.5vw;
  }
  .wrap .page06 {
    width: 100%;
    overflow: hidden;
  }
  .wrap .page06 .title {
    width: 100%;
    font-size: 5.8vw;
    line-height: 10vw;
    padding-bottom: 60vw;
  }
  .wrap .page06 .title h1:first-child {
    padding-bottom: 5vw;
  }
  .wrap .page06 .korea_case {
    padding: 20vw 0;
  }
  .wrap .page06 .korea_case .kormap_dsc {
    padding-bottom: 10vw;
  }
  .wrap .page06 .korea_case .kormap_dsc p:first-child {
    font-size: 5vw;
  }
  .wrap .page06 .korea_case .kormap_dsc p:first-child:after {
    font-size: 2vw;
  }
  .wrap .page06 .korea_case .kormap_dsc p:last-child {
    font-size: 3vw;
  }
  .wrap .page06 .korea_case .kormap_tooltip {
    width: 15vw;
    height: 15vw;
    font-size: 3vw;
    line-height: 5vw;
  }
  .wrap .page06 .korea_case .kormap_tooltip p:nth-child(2) {
    font-size: 3.5vw;
  }
  .wrap .page07 .title {
    height: 85vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 5vw;
    padding-bottom: 20vw;
  }
}
/*# sourceMappingURL=style.css.map */